@mixin mobilePageHeader{
    font-size: 24px;
    line-height: 2rem; 
    font-weight: 700;
}

@mixin mobileSectionHeader{
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}

@mixin mobileSubheader{
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}

@mixin mobileBody{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

@mixin mobileButton{
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}


@mixin profileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
     background-image: url('./../../assets/images/Mohan-muruge.jpg');
     background-size:cover;
     background-repeat: no-repeat;
}