@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.next {
  width: 100wv;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;

  @include tabletScreen {
    padding: 0 2rem;
  }

  @include desktopScreen {
    border-left: 1px solid $Mercury;
  }

  &__title {
    color: $Silver;
    font-size: 1.3rem;

    @include tabletScreen {
      font-weight: 400;
      margin-bottom: 3rem;
    }

    @include desktopScreen {
      font-weight: 400;
      margin-bottom: 3rem;
    }
  }

  &__container {
    display: flex;
    margin-top: 1rem;
    @include tabletScreen {
      width: 60%;
    }
  }

  &__img-container {
    width: 15rem;
    height: 7rem;
    background-color: $Mercury;
    border-radius: 4px;
    margin-right: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include desktopScreen{
      width: 12rem;
      height: 5.5rem;
    }
  }
  &__img {
    width: 100%;
    border-radius: 4px;
  }

  &__detail {
    max-height: 4rem;
    width: 65%;
    font-size: 1.3rem;
    @include tabletScreen {
      @include desktopBody;
    }
    @include desktopScreen {
      @include desktopBody;
    }

    &-title {
      font-weight: 700;
      margin-bottom: 1rem;

      @include tabletScreen {
        @include deskSubheader;
      }
      @include desktopScreen {
        @include deskSubheader;
        margin-bottom: 0.5rem;

      }
    }
  }
}
