@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.upload-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $Mercury;

  @include tabletScreen {
    padding: 2rem;
  }

  @include desktopScreen {
    padding: 2rem 6rem;
  }

  &__title {
    margin-bottom: 2rem;
    @include mobilePageHeader;
    font-size: 2rem;

    @include tabletScreen {
      margin-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $Mercury;
    }
    @include desktopScreen {
      margin-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $Mercury;
    }
  }

  &__subtitle {
    color: $Silver;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;

    @include desktopScreen {
      margin-bottom: 0;
    }
  }

  &__container {
    @include desktopScreen {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $Mercury;
      padding-bottom: 1rem; //////////
    }
  }

  &__video {
    width: 100%;
    height: 20rem;
    background-color: $Mercury;
    margin-bottom: 1rem;

    @include tabletScreen {
      width: 50%;
      height: 15rem;
    }

    @include desktopScreen {
      width: 40%;
      height: 15rem;
      margin-right: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include desktopScreen {
      flex-grow: 1;
    }

    &-label {
      color: $Silver;
      margin: 0.5rem 0;
      font-size: 1rem;
    }

    &-input {
      height: 3rem;
      border-radius: 4px;
      background-color: $Alabaster;
      border: 1px solid $Mercury;
      margin-bottom: 1rem;
      &::placeholder {
        padding-left: 0.8rem;
        font-size: 1rem;
        color: $BrainFlix-Black;
      }
      &:focus{
        outline: 2px solid $BrainFlix-Blue;
        border: none;
        padding-left: 5px;
        padding-top: 5px;
        &::placeholder {
          color: transparent; 
      }
      }
    }

    &-textarea {
      height: 7rem;
      border-radius: 4px;
      background-color: $Alabaster;
      border: 1px solid $Mercury;
      margin-bottom: 1rem;
      appearance: none;
      resize: none;

      &::placeholder {
        padding-left: 0.8rem;
        padding-top: 0.8rem;
        font-size: 1rem;
        color: $BrainFlix-Black;
      }

      &:focus{
        outline: 2px solid $BrainFlix-Blue;
        border: none;
        padding-left: 5px;
        padding-top: 5px;
        &::placeholder {
          color: transparent; 
      }
      }
    }

    &-button-container {
      height: 40px;
      position: relative;

      @include tabletScreen {
        padding-top: 1rem;
        border-top: 1px solid $Mercury;
      }
      @include desktopScreen {
        height: 1px;
      }
    }

    &-button-icon {
      position: absolute;
      top: 10px;
      left: 10px;

      @include tabletScreen {
        margin-left: 70%;
        top: 23px;
        z-index: 100;
      }
      @include desktopScreen {
        margin-left: 70%;
        top: 2.7rem;
        z-index: 100;
      }
    }

    &-button {
      width: 100%;
      height: 40px;
      appearance: none;
      background-color: $BrainFlix-Blue;
      border-radius: 4px;
      border: none;
      color: $White;
      font-size: 1rem;
      font-weight: 700px;

      @include tabletScreen {
        width: 30%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: 1rem;
      }

      @include desktopScreen {
        width: 30%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: 3.5rem;
      }
    }
  }

  &__cancel {
    margin: 3rem auto;
    color: $BrainFlix-Blue;
    font-size: 1rem;

    @include tabletScreen {
      margin: -1rem auto;
    }

    @include desktopScreen {
      margin-top: 2rem;
      margin-right: 16rem;
    }
  }
}
