@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.hero {

  width: 100vw;
  height: auto;

  &__video-container{
    width: 100vw;
    height: auto;
  }

  &__video{
    width: 100%;
  }





  &__title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $BrainFlix-Black;
    width: 90%;
    margin-left: 1rem;
  }

  &__details{
    padding: 1rem;
  }

  &__info-container{
    margin: 1rem 0;
    padding: 1.5rem 0;
    border-top:1px solid $Silver;
    border-bottom: 1px solid $Silver;
    display: flex;
    align-items: center;

    .hero__info{
      display: flex;
      flex-direction: column;
      color:$Silver ;
      font-size: 1.5rem;

      &-name{
        font-weight: 700;
        color: $BrainFlix-Black;
        margin-right: 6rem;
        margin-bottom: 1rem;
      }

      &-count{
        margin-bottom: 1rem;
      }

      .eyeIcon, .heartIcon{
        width: 2rem;
        height: 1.5rem;
        margin-bottom: -0.3rem;
        margin-right: 0.5rem;
      }
    }
  }
  &__description{
    color: $BrainFlix-Black;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}
