@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.hero {

  width: 100vw;
  height: auto;

  @include desktopScreen{
   width: 100%;
  }

  &__title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $BrainFlix-Black;
    width: 90%;
    margin-left: 1rem;

    @include tabletScreen{
      margin-left: 2rem;
      @include desktopPageHeader;
    }
  }

  &__details{
    padding: 1rem;
    @include desktopScreen{
      padding-right: 0;
    }
  }

  &__info-container{
    margin: 1rem 0;
    padding: 1.5rem 0;
    border-top:1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    display: flex;
    align-items: center;

    @include tabletScreen{
      border-top:none;
      padding: 0 0 1rem 0;
      justify-content: space-between;
    }

    @include desktopScreen{
      border-top:none;
      padding: 0 1rem 1rem 0;
      justify-content: space-between;
      @include desktopBody;

    }

    .hero__info{
      display: flex;
      flex-direction: column;
      color:$Silver ;
      font-size: 1.5rem;
      @include tabletScreen{
        flex-direction: row;
        margin: 0 1rem;
        font-size: 1rem;
      }
      @include desktopScreen{
        flex-direction: row;
        margin: 0 1rem;
        font-size: 1rem;
      }

      &-name{
        font-weight: 700;
        color: $BrainFlix-Black;
        margin-right: 6rem;
        margin-bottom: 1rem;
        @include tabletScreen{
          margin: 0;
          margin-right: 3rem;
        }

        @include desktopScreen{
          margin: 0;
          margin-right: 3rem;
        }
      }

      &-count{
        margin-bottom: 1rem;
        @include tabletScreen{
          margin: 0;
          margin-right: 3rem;
        }
        @include desktopScreen{
          margin: 0;
          margin-right: 3rem;
        }
      }

      .eyeIcon, .heartIcon{
        width: 2rem;
        height: 1.5rem;
        margin-bottom: -0.3rem;
        margin-right: 0.5rem;
        @include tabletScreen{
          margin-right:0;
        }
        @include desktopScreen{
          margin-right:0;
        }
      }
    }
  }
  &__description{
    color: $BrainFlix-Black;
    font-size: 1.3rem;
    letter-spacing: 1px;

    @include tabletScreen{
      @include desktopBody;
      padding: 0 1rem;
  }

  @include desktopScreen{
    @include desktopBody;
    padding-right: 1rem;
    
}
}
}
